<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="Fahim" />
		<!-- Date: 2013-05-22 -->
		<link type="text/css" rel="stylesheet" href="style.css" />
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="glow"></div>
			<div class="namesHolder">
				<h1 id="names"></h1>
				<p id="mainTitle">
					main title
				</p>
			</div>
		</div>
		<div class="nav">
			<div class="navHolder">
				<div class="navItems">
					<div id="homeButton" onclick="changePage('homeContent',this)">
						Home
					</div>
					<div id="venueButton"  onclick="changePage('venueContent',this)">
						Venue
					</div>
					<div id="galleryButton"   onclick="changePage('galleryContent',this)">
						Gallery
					</div>
					<div id="contactButton"  onclick="changePage('contactContent',this)">
						Contact
					</div>
					<div id="rsvpButton" class="last" onclick="changePage('rsvpContent',this)">
						RSVP
					</div>
				</div>
			</div>
		</div>

		<ul class="contentHolder">
			<li class="content selected" id="homeContent">
				<img id="mainImage" src="images/mainImage.png"/>
				<div class="welcomeHolder">
					<h1 class="contentTitle" id="homeTitle"> Welcome </h1>
					<p id="mainBody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
			</li>
			<li class="content disabled" id="venueContent">

				<div class="venueHolder">
					<h1 class="contentTitle" id="venueTitle"> Venue </h1>
					<p id="venueBody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
					<img src="images/venueImage.jpg" id="venueImage"/>
				</div>
			</li>
			<li class="content disabled" id="galleryContent">

				<div class="galleryHolder">
					<img id="galleryItem1" src="" />
					<img id="galleryItem2" src="" />
					<img id="galleryItem3" src="" />
				</div>
			</li>
			<li class="content disabled" id="contactContent">
				<div class="contactHolder">
					<h1 class="contentTitle" id="contactTitle">Contact</h1>
					<div id="googleMap">

					</div>

					<p id="contactAddress">
						London Borough of Tower Hamlets
						<br>
						London
						<br>
						E14 5AH
					</p>
				</div>
			</li>
			<li class="content disabled" id="rsvpContent">
				<div class="rsvpHolder">
					<h1 class="contentTitle" id="rsvpTitle" >RSVP</h1>
					
					<div id="rsvpform1">
						<p>
							Provide to RSVP code from your invite.
						</p>
						<form method="post" action="admin/lib/php/rsvpseats.php" enctype="multipart/form-data" target="php" onsubmit="updateError('')">
							<input type="text" name="rsvpcode" id="rsvpcode" />
							<p id="error"></p>
							<button type="submit">GET SEATS</button>
						</form>
					</div>
					<div id="rsvpform2">
						<form method="post" action="admin/lib/php/rsvpseats.php" enctype="multipart/form-data" target="php" onsubmit="updateError('')">
						<p>Select the number of seats.</p>
						<select id="rsvpDropdown" name="rsvpDropdown">
							
						</select>
						<input type="hidden" name="rsvpcode" value="" />
						<button type="submit">SUBMIT</button>
						</form>
					</div>
				</div>
			</li>
		</ul>
		<iframe id="php" name="php"></iframe>
		<div class="footer"><a href="http://www.rsvpexpert.com/" target="_blank"><img src="images/logo_small.png" /></a> </div>
	</body>
</html>

