<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="Fahim" />
		<!-- Date: 2013-05-22 -->
		<link type="text/css" rel="stylesheet" href="style.css" />
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="glow"></div>
			<div class="namesHolder">
				<h1 class="names"><span id="groomName">Mike</span> & <span id="brideName">Rita</span></h1>
				<p id="mainTitle">
					main title
				</p>
			</div>
		</div>
		<div class="nav">
			<div class="navHolder">
				<div class="navItems">
				<div id="homeButton"  onclick="changePage('homeContent',this)">
					Home
				</div>
				<div id="venueButton" onclick="changePage('venueContent',this)">
					Venue
				</div>
				<div id="contactButton" class="last" onclick="changePage('contactContent',this)">
					Contact
				</div>
				</div>
			</div>
		</div>

		<ul class="contentHolder">
			<li class="content selected" id="homeContent">
				<img id="mainImage" src="images/mainImage.png"/>
				<div class="welcomeHolder">
					<h1 class="contentTitle" id="homeTitle"> Welcome </h1>
					<p id="mainBody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
			</li>
			<li class="content disabled" id="venueContent">
				
					<div class="venueHolder">
					<h1 class="contentTitle" id="venueTitle"> Venue </h1>
					<p id="mainBody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
					<img src="images/venueImage.jpg" id="venueImage"/>
				</div>
			</li>
			<li class="content disabled" id="contactContent">
				<div class="contactHolder">
				<h1 class="contentTitle" id="contactTitle">Contact</h1>
				<div id="googleMap">

				</div>

				<p id="contactAddress">
					London Borough of Tower Hamlets
					<br>
					London
					<br>
					E14 5AH
				</p>
				</div>
			</li>
		</ul>

		<div class="footer"></div>
	</body>
</html>

